/* Application wide styles */

*.root {
    -fx-base: rgb(32, 32, 32);
}

*.toggle-button:hover {
    -fx-effect: dropshadow(gaussian, rgb(255,255,255), 10, 0, 0, 1);
}

*.color-picker:hover {
    -fx-effect: dropshadow(gaussian, rgb(255,255,255), 10, 0, 0, 1);
}

*.toggle-button:selected {
    -fx-background-color: rgb(25, 150, 255);
    -fx-font-style: oblique;
}

*.color-picker:selected {
    -fx-effect: dropshadow(gaussian, rgb(255,255,255), 10, 0, 0, 1);
}

*.menu:hover {
    -fx-effect: dropshadow(gaussian, rgb(255,255,255), 10, 0, 0, 1);
}

*.button:hover {
    -fx-effect: dropshadow(gaussian, rgb(255,255,255), 10, 0, 0, 1);
}

*.slider:hover {
    -fx-effect: dropshadow(gaussian, rgb(255,255,255), 10, 0, 0, 1);
}


/* Component specific styles */

*.mImageView {
    -fx-background-color: rgb(255, 255, 255);
}
